body {
  font-size: 16px;
  font-family: Helvetica, sans;
}

div {
  border: 2px solid red;
}

.container {
  padding: 32px 24px;
  display: flex;
}
/* header section*/

header {
  height: 4rem;
  display: flex;
  flex-direction: row;

}

.head {
    padding: auto 24px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav li {
  display: inline-flex;
  padding-right: 1rem;
}
 #logo {
   align-content: center;
 }

 #name {
   margin-top: 8px;
 }
/*top div*/

#one {
  background-color: #C0C0C0;
}
.left {
  padding-right: 20px;
  width: 60%;
}

.left img {
  width: 100%;
}

.right {
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;

}

.right h1 {
  margin: 8rem auto 2rem auto;
  font-size: 3.5rem;
  font-weight: bold;
}

#one .right span {
  font-size: 2rem;
  margin-bottom: 2rem;
}
 #button {
  background-color: #303030;
  font-size: 1.5rem;
  padding: 8px;
  margin: 2rem auto;
  color: white;
  display: block;
  width: 20rem;
  text-align: center;
}

/*2nd div*/

#two .left img {
  padding-bottom: 2rem;
  padding-right: 12px;
}
#two .left h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 24px;
}

#two .right {
  width: 423px;
  justify-content:  center;
  flex-direction: row;
}

#two .right img {
  height: 35%;
  width: 35%;

}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

/*3rd section*/

#three {
  display: block;
}

#three h1{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.top, .bottom {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#three #content {
  width: 14rem;
}

#three img {
  width: 100%;
}
